{% extends "layout.html" %}
{% block title %}{{ "Edit" if donation.get("id") else "Create" }}
Donation{% endblock %}
{% block content %}
{% from "organization_dropdown.html" import organization_dropdown %}
<div class="container-fluid">
    <div class="h1">{{ "Edit" if donation.get("id") else "Create" }} Donation
    </div>
    <div>
        <form method="POST">
            {#
            generate fields with proper types for the following (keep the name/id attributes the same as the list)
            donor_firstname (required)
            donor_lastname (required)
            donor_email (required)
            item_name (required)
            item_description (optional)
            item_quantity (required) (>0)
            donation_date (required) (mm/dd/yyyy)
            comments (optional)
            organization (provided) (required)
            if a validation error occurs, the inserted form data should persist
            #}
            {#zm254-11-17-23#}
            <!--donor first name-->
                <label class="form-label" for ="donor_firstname">Donor First Name</label>
                <input type="text" name="donor_firstname" class="form-control" id="donor_firstname" placeholder="donor_firstname" value="{{donation.get('donor_firstname') | default('')}}"required>
                
                <br>
            <!--donor last name-->
                <label class ="form-label" for ="donor_lastname">Donor Last Name</label>
                <input type="text" name="donor_lastname" class="form-control" id="donor_lastname" placeholder="donor_lastname" value="{{donation.get('donor_lastname')or ''}}"required>
                <br>
            <!--donor email-->
                <label class ="form-label" for ="donor_email">Donor Email</label>
                <input type="email" name="donor_email" class="form-control" id="donor_email" placeholder="donor_email" value="{{donation.get('donor_email') | default('')}}" required>
                <br>

            <!--item name-->
                <label class ="form-label" for ="item_name">Item Name</label>
                <input type="text" name="item_name" class="form-control" id="item_name" placeholder="item_name" value="{{donation.get('item_name')or ''}}"required>
                <br>

            <!--item_description -->
                <label class ="form-label" for ="item_description">Item Description</label>
                <input type="text" name="item_description" class="form-control" id="item_description" placeholder="item_description" value="{{donation.get('item_description')or ''}}"required>
                <br>
            <!--item_quantity-->
                <label for="item_quantity" class="form-label">Item Quantity</label>
                <input type="number" class="form-control" id="item_quantity" name="item_quantity" required min="1" value="{{ donation.get('item_quantity') }}">
                <br>
            <!--donation date-->
                <label for="donation_date" class="form-label">Donation Date (mm/dd/yyyy)</label>
                <input type="date" class="form-control" id="donation_date" name="donation_date" required value="{{ donation.get('donation_date') }}">
                <br>

                <label for="comments" class="form-label">Comment</label>
                <input type="text" class="form-control" id="comments" name="comments" required value="{{ donation.get('comments') }}">
                <br>
            <!-- organization selection-->
            {#zm254-11-17-23#}
            {# use the below for organization selection #}
                <label for="organization_id" class="col-sm-2 col-form-label">Organization</label>
                <input {{ organization_dropdown(val=donation.get("organization_id")) }}>

            <input type="submit" class="btn btn-primary"
                value="Save Donation" />
        </form>
    </div>
</div>
{% endblock %}