{% extends "layout.html" %}
{% block title %}Players{% endblock %}

{% block content %}
{% from "_table_helper.html" import render_table %}

{% set view = "players.view" %}
{% if current_user.is_authenticated %}
{% set assoc = "players.track" %}
{% else %}
{% set assoc = None %}
{% endif %}
{% if current_user.has_role("Admin") %}
{% set edit = "players.edit" %}
{% set delete = "players.delete" %}
{% else %}
{% set edit = None %}
{% set delete = None %}
{% endif %}
<div class="container-fluid">
    {% include 'player_Search.html' %}
    {% if current_user.is_authenticated or current_user.has_role("Admin") %}

<form
    action="{{url_for('players.clear', id=request.args.get('id', current_user.id))}}"
    onsubmit="return confirm('Are you sure?')">
    <input type="hidden" name="id"
        value="{{request.args.get('id', current_user.id)}}" />
    <input type="submit" class="btn btn-danger" value="Clear favlist" />
</form>
<div class="row">
    <div class="col">
        Showing Results {{rows | length}}/{{total_records or 0}}
    </div>
</div>
{% endif %}
     <!-- Render the table -->
     {{ render_table(rows, title if title else "Players", ["id", "is_assoc", "user_id"], view, edit, delete, assoc) }}
</div>
{% endblock %}
