{% extends "layout.html" %}
{% block title %}{{ type }} Player data{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="h3">{{ type }} Player Data</div>
    <form method="POST">
        {% for field in form %}
            {% if field.name != 'csrf_token' %}
                <div class="form-group">
                    <label for="{{ field.id }}" class="font-weight-bold">{{ field.label | safe }}</label>
                    {% if field.type == 'TextAreaField' %}
                        <textarea class="form-control {% if field.errors %} is-invalid {% endif %}" id="{{ field.id }}" name="{{ field.name }}" placeholder="">{{ field.data or "" }}</textarea>
                    {% else %}
                        <input class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{ field.id }}" name="{{ field.name }}" type="{{ field.type }}" value="{{ field.data or '' }}" placeholder="">
                    {% endif %}
                    {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ ', '.join(field.errors) }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        {{ form.hidden_tag() }}
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>
{% endblock %}
